certifi==2026.7.22
charset-normalizer==3.5.2
colorama==0.4.6
contourpy==1.4.0
cycler==0.12.1
decorator==5.3.1
fonttools==4.66.1
idna==3.20
iniconfig==2.3.0
Jinja2==3.1.6
kiwisolver==1.5.1
lazy-loader==0.6
MarkupSafe==3.0.4
matplotlib==3.11.2
mne==1.13.2
numpy==2.5.3
packaging==26.3
pillow==12.3.0
platformdirs==4.12.2
pluggy==1.6.0
pooch==1.9.0
Pygments==2.21.0
PyOpenGL==3.1.10
pyparsing==3.3.3
pyqtgraph==0.14.0
PySide6==6.11.2
PySide6_Addons==6.11.2
PySide6_Essentials==6.11.2
pytest==9.1.1
python-dateutil==2.9.0.post0
requests==2.34.2
ruff==0.16.10
scipy==1.18.1
shiboken6==6.11.2
six==1.17.0
tqdm==4.70.1
urllib3==2.8.0
